:root {
  --dark-color: #3074f0;
  --primary-color: #f7c9d2;
  --light-color: #f5f5f5;
  --success-color: #28f9295;
}

.Discount {
  background: var(--primary-color);
  margin-top: 3rem;
  width:100%;
  height: auto;
  border-radius: 8px;
}

.Discount_col1 p {
  color: #000;
}

.Discount h1 {
  font-weight: 600;
}
.Discount img {
  max-width: 100%; 
  width: auto;    
}
.Dis_1{
  margin-left: 6.3rem;
  font-size: 3rem;
  margin-bottom: 10px;

}
FontAwesomeIcon{
  color: palevioletred;
}